<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}
                {% comment %} <label for="task">Task:</label>
                <input type="text" name="task">
                <br>
                <br>
                <label for="due_date">Due date:</label>
                <input type="date" name="due_date">
                <br>
                <br>
                <label for="is_completed">Is completed:</label>
                <input type="checkbox" name="is_completed">
                <br>
                <br>
                <label for="list">List:</label>
                <select name="list">
                    {% for list in todos_list.all %}
                        <option value={{list.id}}>{{ list }}</option>
                    {% endfor %}
                </select> {% endcomment %}
                {{ form.as_p }}
                <button>Update</button>
            </form>
        </div>
    </main>
</body>
</html>
